@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin-top: 5px;
    padding: 0;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Arial';
    font-weight: 600;
    background-color: black;
}

.container {
    margin: 2rem 0;
    width: 25rem;
    height: 37rem;
    background-color: azure;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 9px 6px 12px , -9px -6px 12px;
    justify-content: center;
}

.screen_wrap {
    margin: 2rem 0 1rem 0;
    width: 20rem;
    height: 5.7rem;
    border-radius: 0.5rem;
    background-color:antiquewhite;
    /* box-shadow: 6px 6px 12px #65bbb5, -6px -6px 12px #4793ca; */
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;
    direction: ltr;
}

.screen {
    padding-right: 7px;
    width: 100%;
    height: 70%;
    color: #0b0b0b;
    font-size: 1.9rem;
    box-sizing: border-box;
    text-align: right;
    font-family: 'Poppins', 'Arial';
} 

.history {
    padding: 4px 7px 0 0;
    width: 100%;
    height: 30%;
    font-size: 1rem;
    color: #2a63a3;
    box-sizing: border-box;
    text-align: right;
    opacity: 0.5;
}

.btn_wrap {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    all: unset;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.3rem;
    color: #070f0f;
    border-radius: 50%;
    background: 5px 5px 10px #c2c21b, -5px -5px 10px #4a1515;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 0.2s, transform 0.2s;
}

.btn:nth-child(19) {
    width: 8rem;
    border-radius: 4rem;
}

.btn:nth-child(3),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16) {
    background: #a291b4;
}

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(19),
.btn:nth-child(17) {
    background: #6ca7bf;
}

.btn:active {
    background-color: #c4bfbf; 
}
